.git
.gitignore
node_modules
npm-debug.log
.env
.env.*
*.log
.DS_Store
coverage
.vscode
.idea
*.md
!README.md
client
client/node_modules
client/build
client/.env
client/.env.*
client/coverage
client/.vscode
client/.idea 